# Übungsaufgaben 3
## 1 Lineare Regression & Qualitative Variablen

### 1. Gehaltsunterschied Männer / Frauen

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
salaries = pd.read_csv('salaries.csv')
salaries.head()

       rank discipline  yrs.since.phd  yrs.service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

In [3]:
# linear regression model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
# features is only sex
X = salaries.copy()['sex'].values.reshape(-1,1)
y = salaries.copy()['salary'].values.reshape(-1,1)

# features are 'male' or 'female'
# should transform to numeric values
male = 0
female = 1
for i, sex in enumerate(X):
    X[i] = male if sex == 'Male' else female

X.shape, y.shape

((397, 1), (397, 1))

In [5]:
# split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X_train, y_train

(array([[0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [0],
        [1],
        [0],
        [0],
        [0]], dtype=object),
 array([[ 94384],
        [ 84240],
        [105668],
        [145000],
        [ 92050],
        [102235],
        [129600],
        [145098],
        [ 91300],
        [136000],
        [186960],
        [116450],
        [163200],
        [117256],
        [ 95329],
        [ 89942],
        [103275],
        [119015],
        [ 93904],
        [ 90304],
        [172272],
        [205500],
        [106231],
        [107200],
        [115000],
        [105000],
        [113543],
        [115313],
        [ 79916],
        [119700],
        [194800],
        [124750],
        [133700],
        [122400],
        [124312],
        [ 79750],
        [ 75996],
        [122960],
        [107100],
        [101000],
        [ 92550],
        [139750],
        [166605],
        [121200],
        [151768],
        [ 72300],
        [111168],
        [ 89942],
        [118700],
        [ 73877],
        [ 76840],
        [ 92000],
        [151650],
        [126000],
        [ 96614],
        [126200],
        [102600],
        [101000],
        [150564],
        [ 57800],
        [146000],
        [121946],
        [ 70768],
        [112429],
        [ 88600],
        [128400],
        [124309],
        [111350],
        [204000],
        [123683],
        [163200],
        [ 92391],
        [152500],
        [156938],
        [100135],
        [ 78182],
        [101036],
        [ 98510],
        [106300],
        [ 81500],
        [102000],
        [ 84000],
        [ 90215],
        [120806],
        [104350],
        [ 81035],
        [ 98053],
        [ 84716],
        [ 83900],
        [105000],
        [113068],
        [127100],
        [ 77202],
        [ 88795],
        [152664],
        [ 86895],
        [ 81700],
        [150500],
        [ 72500],
        [ 62884],
        [131950],
        [ 73300],
        [ 74830],
        [126300],
        [ 77000],
        [107008],
        [175000],
        [ 88600],
        [103750],
        [109646],
        [107309],
        [101000],
        [ 96545],
        [146856],
        [183800],
        [ 78500],
        [140096],
        [126320],
        [ 88000],
        [126933],
        [ 82100],
        [109785],
        [103700],
        [135585],
        [134778],
        [ 95436],
        [117515],
        [139219],
        [137317],
        [108413],
        [ 92000],
        [ 91412],
        [141500],
        [ 84500],
        [109000],
        [144640],
        [173200],
        [ 70700],
        [144651],
        [ 78162],
        [106608],
        [115435],
        [ 71065],
        [ 96200],
        [ 99000],
        [ 72500],
        [108100],
        [ 93519],
        [103613],
        [147349],
        [142023],
        [104800],
        [126621],
        [155500],
        [ 93000],
        [109707],
        [125196],
        [147765],
        [ 68404],
        [ 80139],
        [136660],
        [ 63100],
        [109650],
        [176500],
        [128250],
        [109954],
        [103600],
        [118971],
        [119450],
        [138771],
        [ 81800],
        [ 72500],
        [181257],
        [166800],
        [148750],
        [ 80225],
        [129676],
        [101738],
        [132825],
        [107550],
        [ 95079],
        [100000],
        [ 84273],
        [ 83600],
        [ 88709],
        [ 73500],
        [100131],
        [112696],
        [140300],
        [180000],
        [134185],
        [104279],
        [174500],
        [114000],
        [ 83000],
        [153303],
        [128148],
        [104121],
        [162221],
        [ 79800],
        [100102],
        [103450],
        [ 89516],
        [146800],
        [ 78000],
        [ 92000],
        [150000],
        [148500],
        [142500],
        [114778],
        [103994],
        [119500],
        [ 90000],
        [144050],
        [108200],
        [117555],
        [ 74000],
        [ 88175],
        [ 67559],
        [114330],
        [165000],
        [ 91000],
        [108262],
        [102580],
        [101299],
        [113341],
        [ 77500],
        [103649],
        [109305],
        [150376],
        [134550],
        [134885],
        [168635],
        [170500],
        [ 73000],
        [107986],
        [105890],
        [111512],
        [107300],
        [105631],
        [110515],
        [160400],
        [113398],
        [108875],
        [ 97032],
        [ 99418],
        [105350],
        [151445],
        [111751],
        [104800],
        [ 99247],
        [105450],
        [106689],
        [ 73000],
        [118223],
        [ 85000],
        [128464],
        [143250],
        [168500],
        [100351],
        [172505],
        [ 93418],
        [193000],
        [113278],
        [ 86100],
        [145350],
        [189409],
        [ 90450],
        [166024],
        [103106],
        [132000],
        [ 74000],
        [155750],
        [ 82379],
        [132261],
        [ 94350],
        [ 95408],
        [ 97262],
        [119250],
        [134690],
        [ 75044],
        [231545],
        [144309],
        [122100],
        [ 69200],
        [ 63900],
        [ 78785],
        [101100],
        [100522],
        [155865],
        [138000],
        [ 88825],
        [170000],
        [162150],
        [151292],
        [137167],
        [106294],
        [ 81500],
        [122875],
        [ 92000],
        [100938],
        [ 86250],
        [137000],
        [192253],
        [ 70000],
        [ 72500],
        [125192],
        [151575],
        [152708],
        [ 97150],
        [ 83001],
        [ 89650],
        [ 92700],
        [104542],
        [106639],
        [119800],
        [162200]]))

In [6]:
reg = LinearRegression().fit(X_train, y_train)

print('a0 (mens average salary):', reg.intercept_[0])
print('a1 (women salary difference):', reg.coef_[0][0])

a0 (mens average salary): 116311.41403508771
a1 (women salary difference): -16708.63278508772

Der Intercept stellt den durschschnittlichen Gehalt der Männer da (feature ist 0). a1 stellt die Differenz im Gehalt dar. Frauen verdienen dementsprechend weniger.

### 2. Lineare Regression mit allen Variablen

In [7]:
salaries.head()

       rank discipline  yrs.since.phd  yrs.service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
X = salaries.drop(['salary'], axis=1)
y = salaries['salary'].values.reshape(-1,1)
X.loc[0]

rank             Prof
discipline          B
yrs.since.phd      19
yrs.service        18
sex              Male
Name: 0, dtype: object

In [10]:
# transform to numeric values: rank, discipline, sex
enc = OneHotEncoder(drop='first')
enc.fit(X)
enc.categories_

[array(['AssocProf', 'AsstProf', 'Prof'], dtype=object),
 array(['A', 'B'], dtype=object),
 array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
        35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52,
        54, 56]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 48, 49, 51, 53, 57,
        60]),
 array(['Female', 'Male'], dtype=object)]

In [11]:
X = enc.transform(X).toarray()

In [12]:
reg = LinearRegression().fit(X, y)

In [13]:
error = np.mean((reg.predict(X) - y)**2)
error

311152519.2542734

Ergebnisse

In [14]:
# interpret coefficients
print('a0 (womans assoc. prof discipline A average salary):', reg.intercept_[0])

for i, col in enumerate(enc.categories_):
    # exclude numeric values
    if all(isinstance(x, np.int64) for x in col):
        continue
    
    for j in range(1, len(col)):
        print('a{} ({}): {}'.format(i+j, col[j], reg.coef_[0][i+j-1]))

a0 (womans assoc. prof discipline A average salary): 84930.27093828715
a1 (AsstProf): -20054.76287632027
a2 (Prof): 27668.379380799284
a2 (B): 27668.379380799284
a5 (Male): 3963.999041055815